.mainContent {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-weight: 400;
    padding-bottom: 6px;
  }
  
  .bannerImage {
    aspect-ratio: 13.51;
    object-fit: contain;
    width: 100%;
  }
  
  .secondaryImage {
    aspect-ratio: 1.88;
    object-fit: contain;
    width: 100%;
    margin-top: 45px;
  }
  
  .categoriesSection {
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1494px;
    flex-direction: column;
    color: #fffafa;
    text-align: center;
    margin: 121px 0 0 17px;
    font: 24px Otomanopee One, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .dividerImage {
    aspect-ratio: 6.17;
    object-fit: contain;
    width: 100%;
    margin-top: 17px;
  }
  
  .categoryFemaleShoes,
  .categoryMaleShoes,
  .categoryFemaleClothes,
  .categoryMaleClothes {
    transform: rotate(-6.551300657520178E8rad);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    align-self: flex-start;
    margin-left: 150px;
  }
  
  .categoryMaleShoes,
  .categoryMaleClothes {
    margin-left: 165px;
  }
  
  @media (max-width: 991px) {
    .mainContent {
      max-width: 100%;
    }
  
    .bannerImage,
    .secondaryImage,
    .dividerImage {
      max-width: 100%;
    }
  
    .secondaryImage {
      margin-top: 40px;
    }
  
    .categoriesSection {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .categoryFemaleShoes,
    .categoryMaleShoes,
    .categoryFemaleClothes,
    .categoryMaleClothes {
      margin-left: 10px;
    }
  }